In [1]:
import pandas as pd
import numpy as np
import math

# Distance Matrix

In [2]:
Credit_Score_Expenses = pd.read_csv("https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Credit_Score_Expenses/Credit_Score_Expenses.csv")
Credit_Score_Expenses.columns.values
print("The Data Matrix \n")
Credit_Score_Expenses

The Data Matrix

   Cust_id  Expenses  Credit_score
0        1     49491           869
1        2     26871           265
2        3     41310           408
3        4     28506           474
4        5     43814           761

In [3]:
# Euclidean Distance Caculator
def distance_matrix(data_frame):
    import numpy as np
    result_distance=np.zeros((data_frame.shape[0],data_frame.shape[0]))
    for i in range(0 , data_frame.shape[0]):
        for j in range(0 , data_frame.shape[0]):
            result_distance[i,j]=round(math.sqrt(sum((data_frame.iloc[i] - data_frame.iloc[j])**2)),1)
    result_distance_df=pd.DataFrame(result_distance)
    print(result_distance_df)

print("The Distance Matrix \n")
distance_matrix(Credit_Score_Expenses)

The Distance Matrix

         0        1        2        3        4
0      0.0  22628.1   8194.0  20988.7   5678.0
1  22628.1      0.0  14439.7   1648.3  16950.3
2   8194.0  14439.7      0.0  12804.2   2528.8
3  20988.7   1648.3  12804.2      0.0  15310.7
4   5678.0  16950.3   2528.8  15310.7      0.0

# Clustering on Super market Data

In [4]:
#Cluster Analysis
sup_market = pd.read_csv("https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Super%20Market%20Coupons/Super_market_Coupons.csv")
print(sup_market.shape)
sup_market.head()

(3000, 6)

   cust_id  age  ...  family_size  Avg_visits_permonth
0        1   30  ...            1                    4
1        2   46  ...            3                    3
2        3   76  ...            1                    8
3        4   38  ...            3                    3
4        5   39  ...            1                    1

[5 rows x 6 columns]

## Model building

In [5]:
from sklearn.cluster import KMeans
kmeans_model = KMeans(n_clusters=5,  random_state=333) # Mention the Number of clusters
X=sup_market.drop(["cust_id"],axis=1) # Custid is not needed
kmeans_result = kmeans_model.fit(X) #Model building

In [6]:
labels = kmeans_result.predict(X)
sup_market["Cluster_id"]=labels
sup_market.head()

   cust_id  age  Estimated_income  ...  family_size  Avg_visits_permonth  Cluster_id
0        1   30              3300  ...            1                    4           0
1        2   46             12454  ...            3                    3           2
2        3   76                 0  ...            1                    8           0
3        4   38              3000  ...            3                    3           0
4        5   39              2500  ...            1                    1           0

[5 rows x 7 columns]

# Output Inference

In [7]:
cluster_counts=sup_market.groupby(['Cluster_id']).count()
pd.set_option('display.max_columns', None) #This option displays all the columns 
print("cluster_counts \n", cluster_counts)

cluster_counts
             cust_id   age  Estimated_income  recent_spends  family_size  \
Cluster_id
0              1214  1214              1214           1214         1214
1                45    45                45             45           45
2               513   513               513            513          513
3                 3     3                 3              3            3
4              1225  1225              1225           1225         1225

            Avg_visits_permonth
Cluster_id
0                          1214
1                            45
2                           513
3                             3
4                          1225

In [8]:
pd.set_option('display.max_columns', None) #This option displays all the columns 
cluster_means=sup_market.groupby(['Cluster_id']).mean()
print("cluster_means \n", cluster_means)

cluster_means
                 cust_id        age  Estimated_income  recent_spends  \
Cluster_id
0           1503.797364  52.914333       1048.611203     309.062620
1           1790.422222  53.200000      26516.044444   10084.835548
2           1482.538012  52.904483      11515.925926    3196.273437
3           2315.000000  52.000000     101864.333333   10441.193440
4           1492.109388  51.432653       5593.964898    1629.478909

            family_size  Avg_visits_permonth
Cluster_id
0              1.428336             5.626030
1              2.400000             5.800000
2              2.138402             5.360624
3              4.000000             8.333333
4              1.818776             5.508571

In [9]:
#The Final Target population
target_data=sup_market[(sup_market["Cluster_id"]==1) | (sup_market["Cluster_id"]==3)]
print(target_data.shape)

(48, 7)